body {
  background-image: url("https://i.pinimg.com/originals/9a/3a/16/9a3a16b44f1ebbc4d66408a636269465.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-image: url("https://www.pngmart.com/files/11/Cute-Heart-Frame-PNG-Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
  padding: 10px;
  box-shadow: rgba #5d5d5d 0px 7px 29px 0px;
  border-radius: 40px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
select {
  background-color: #b4d8f8;
}
footer {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  text-decoration: none;
  color: #b4d8f8;
}
a {
  color: aliceblue;
}